-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "MobSpecies" AS ENUM ('SHEEP', 'CATTLE', 'GOAT', 'MIXED');

-- CreateEnum
CREATE TYPE "PlanStatus" AS ENUM ('DRAFT', 'PLANNED', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "WaterAssetType" AS ENUM ('DAM', 'BORE', 'TROUGH', 'PIPE', 'VALVE', 'JUNCTION');

-- CreateEnum
CREATE TYPE "SensorType" AS ENUM ('WATER_LEVEL', 'FLOW_RATE', 'PRESSURE', 'SOIL_MOISTURE', 'TEMPERATURE', 'HUMIDITY', 'BATTERY', 'CUSTOM');

-- CreateEnum
CREATE TYPE "IssueStatus" AS ENUM ('OPEN', 'TRIAGED', 'IN_PROGRESS', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "IssueCategory" AS ENUM ('GENERAL', 'DEAD_STOCK', 'LOW_WATER', 'LOW_FEED', 'FENCE', 'OTHER');

-- CreateEnum
CREATE TYPE "TaskStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'BLOCKED', 'DONE', 'CANCELLED');

-- CreateEnum
CREATE TYPE "AttachmentEntityType" AS ENUM ('MOB', 'PADDOCK', 'CROP_SEASON', 'PADDOCK_PLAN', 'MOB_MOVEMENT_PLAN', 'PRODUCTION_PLAN', 'WATER_ASSET', 'LORA_NODE', 'SENSOR_READING', 'FEEDER', 'HAY_LOT', 'GRAIN_LOT', 'ISSUE', 'TASK', 'CONTRACTOR', 'PEST_SPOTTING', 'ACTIVITY_EVENT');

-- CreateTable
CREATE TABLE "Farm" (
    "id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "timezone" TEXT NOT NULL DEFAULT 'Australia/Brisbane',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Farm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "displayName" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'manager',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "disabledAt" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "deviceId" TEXT,
    "userAgent" TEXT,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastUsedAt" TIMESTAMP(3),
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Paddock" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "areaHa" DECIMAL(10,2),
    "boundaryGeoJson" JSONB,
    "currentStatus" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Paddock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Mob" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "species" "MobSpecies" NOT NULL,
    "headCount" INTEGER NOT NULL,
    "avgWeightKg" DECIMAL(8,2),
    "currentPaddockId" UUID,
    "metadataJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Mob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MobPaddockAllocation" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "mobId" UUID NOT NULL,
    "paddockId" UUID NOT NULL,
    "headCount" INTEGER,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMP(3),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "MobPaddockAllocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CropSeason" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "paddockId" UUID NOT NULL,
    "seasonName" TEXT NOT NULL,
    "cropType" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "targetYieldTons" DECIMAL(10,2),
    "actualYieldTons" DECIMAL(10,2),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "CropSeason_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaddockPlan" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "paddockId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "status" "PlanStatus" NOT NULL DEFAULT 'DRAFT',
    "plannedStart" TIMESTAMP(3) NOT NULL,
    "plannedEnd" TIMESTAMP(3),
    "actualStart" TIMESTAMP(3),
    "actualEnd" TIMESTAMP(3),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "PaddockPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MobMovementPlan" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "mobId" UUID NOT NULL,
    "fromPaddockId" UUID,
    "toPaddockId" UUID NOT NULL,
    "status" "PlanStatus" NOT NULL DEFAULT 'PLANNED',
    "plannedAt" TIMESTAMP(3) NOT NULL,
    "actualAt" TIMESTAMP(3),
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "MobMovementPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductionPlan" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "paddockId" UUID,
    "mobId" UUID,
    "planName" TEXT NOT NULL,
    "status" "PlanStatus" NOT NULL DEFAULT 'DRAFT',
    "targetMetric" TEXT,
    "targetValue" DECIMAL(12,2),
    "actualValue" DECIMAL(12,2),
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "ProductionPlan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WaterAsset" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "type" "WaterAssetType" NOT NULL,
    "name" TEXT NOT NULL,
    "locationGeoJson" JSONB,
    "capacityLitres" DECIMAL(14,2),
    "metadataJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "WaterAsset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WaterLink" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "fromAssetId" UUID NOT NULL,
    "toAssetId" UUID NOT NULL,
    "connectionType" TEXT NOT NULL,
    "diameterMm" DECIMAL(8,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "WaterLink_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LoraNode" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "devEui" TEXT NOT NULL,
    "locationGeoJson" JSONB,
    "installedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "LoraNode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Sensor" (
    "id" UUID NOT NULL,
    "nodeId" UUID NOT NULL,
    "key" TEXT NOT NULL,
    "type" "SensorType" NOT NULL,
    "unit" TEXT,
    "metadataJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Sensor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SensorReading" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "nodeId" UUID NOT NULL,
    "sensorId" UUID NOT NULL,
    "observedAt" TIMESTAMP(3) NOT NULL,
    "numericValue" DECIMAL(14,4) NOT NULL,
    "textValue" TEXT,
    "rawPayloadJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SensorReading_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Feeder" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "feederType" TEXT NOT NULL,
    "locationGeoJson" JSONB,
    "capacityKg" DECIMAL(10,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Feeder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HayLot" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "lotCode" TEXT NOT NULL,
    "quantityTons" DECIMAL(10,2) NOT NULL,
    "qualityGrade" TEXT,
    "location" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "HayLot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GrainLot" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "lotCode" TEXT NOT NULL,
    "grainType" TEXT NOT NULL,
    "quantityTons" DECIMAL(10,2) NOT NULL,
    "moisturePct" DECIMAL(5,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "GrainLot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeedEvent" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "occurredAt" TIMESTAMP(3) NOT NULL,
    "quantityKg" DECIMAL(12,2) NOT NULL,
    "mobId" UUID,
    "paddockId" UUID,
    "feederId" UUID,
    "hayLotId" UUID,
    "grainLotId" UUID,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "FeedEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Issue" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "category" "IssueCategory" NOT NULL DEFAULT 'GENERAL',
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" "IssueStatus" NOT NULL DEFAULT 'OPEN',
    "severity" TEXT,
    "locationGeoJson" JSONB,
    "paddockId" UUID,
    "mobId" UUID,
    "feederId" UUID,
    "waterAssetId" UUID,
    "createdById" UUID NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "resolvedAt" TIMESTAMP(3),

    CONSTRAINT "Issue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Task" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" "TaskStatus" NOT NULL DEFAULT 'OPEN',
    "dueAt" TIMESTAMP(3),
    "paddockId" UUID,
    "mobId" UUID,
    "createdById" UUID NOT NULL,
    "assignedToId" UUID,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Contractor" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "specialty" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contractor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PestSpotting" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "paddockId" UUID,
    "pestType" TEXT NOT NULL,
    "severity" TEXT,
    "locationGeoJson" JSONB,
    "spottedAt" TIMESTAMP(3) NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PestSpotting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActivityEvent" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" UUID NOT NULL,
    "eventType" TEXT NOT NULL,
    "plannedAt" TIMESTAMP(3),
    "actualAt" TIMESTAMP(3),
    "payloadJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ActivityEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Attachment" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "entityType" "AttachmentEntityType" NOT NULL,
    "entityId" UUID NOT NULL,
    "mediaType" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "thumbnailUrl" TEXT,
    "capturedAt" TIMESTAMP(3),
    "createdById" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Attachment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncChange" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" UUID NOT NULL,
    "operation" TEXT NOT NULL,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "payloadJson" JSONB,

    CONSTRAINT "SyncChange_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncTombstone" (
    "id" UUID NOT NULL,
    "farmId" UUID NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" UUID NOT NULL,
    "deletedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SyncTombstone_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "User_farmId_idx" ON "User"("farmId");

-- CreateIndex
CREATE UNIQUE INDEX "User_farmId_email_key" ON "User"("farmId", "email");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_tokenHash_key" ON "RefreshToken"("tokenHash");

-- CreateIndex
CREATE INDEX "RefreshToken_userId_idx" ON "RefreshToken"("userId");

-- CreateIndex
CREATE INDEX "RefreshToken_userId_deviceId_idx" ON "RefreshToken"("userId", "deviceId");

-- CreateIndex
CREATE INDEX "Paddock_farmId_idx" ON "Paddock"("farmId");

-- CreateIndex
CREATE UNIQUE INDEX "Paddock_farmId_name_key" ON "Paddock"("farmId", "name");

-- CreateIndex
CREATE INDEX "Mob_farmId_idx" ON "Mob"("farmId");

-- CreateIndex
CREATE INDEX "Mob_currentPaddockId_idx" ON "Mob"("currentPaddockId");

-- CreateIndex
CREATE UNIQUE INDEX "Mob_farmId_name_key" ON "Mob"("farmId", "name");

-- CreateIndex
CREATE INDEX "MobPaddockAllocation_farmId_idx" ON "MobPaddockAllocation"("farmId");

-- CreateIndex
CREATE INDEX "MobPaddockAllocation_mobId_endedAt_idx" ON "MobPaddockAllocation"("mobId", "endedAt");

-- CreateIndex
CREATE INDEX "MobPaddockAllocation_paddockId_endedAt_idx" ON "MobPaddockAllocation"("paddockId", "endedAt");

-- CreateIndex
CREATE INDEX "CropSeason_farmId_idx" ON "CropSeason"("farmId");

-- CreateIndex
CREATE INDEX "CropSeason_paddockId_idx" ON "CropSeason"("paddockId");

-- CreateIndex
CREATE INDEX "PaddockPlan_farmId_idx" ON "PaddockPlan"("farmId");

-- CreateIndex
CREATE INDEX "PaddockPlan_paddockId_idx" ON "PaddockPlan"("paddockId");

-- CreateIndex
CREATE INDEX "MobMovementPlan_farmId_idx" ON "MobMovementPlan"("farmId");

-- CreateIndex
CREATE INDEX "MobMovementPlan_mobId_idx" ON "MobMovementPlan"("mobId");

-- CreateIndex
CREATE INDEX "MobMovementPlan_plannedAt_idx" ON "MobMovementPlan"("plannedAt");

-- CreateIndex
CREATE INDEX "ProductionPlan_farmId_idx" ON "ProductionPlan"("farmId");

-- CreateIndex
CREATE INDEX "ProductionPlan_paddockId_idx" ON "ProductionPlan"("paddockId");

-- CreateIndex
CREATE INDEX "ProductionPlan_mobId_idx" ON "ProductionPlan"("mobId");

-- CreateIndex
CREATE INDEX "WaterAsset_farmId_idx" ON "WaterAsset"("farmId");

-- CreateIndex
CREATE UNIQUE INDEX "WaterAsset_farmId_name_key" ON "WaterAsset"("farmId", "name");

-- CreateIndex
CREATE INDEX "WaterLink_farmId_idx" ON "WaterLink"("farmId");

-- CreateIndex
CREATE INDEX "WaterLink_fromAssetId_idx" ON "WaterLink"("fromAssetId");

-- CreateIndex
CREATE INDEX "WaterLink_toAssetId_idx" ON "WaterLink"("toAssetId");

-- CreateIndex
CREATE UNIQUE INDEX "LoraNode_devEui_key" ON "LoraNode"("devEui");

-- CreateIndex
CREATE INDEX "LoraNode_farmId_idx" ON "LoraNode"("farmId");

-- CreateIndex
CREATE INDEX "Sensor_nodeId_idx" ON "Sensor"("nodeId");

-- CreateIndex
CREATE UNIQUE INDEX "Sensor_nodeId_key_key" ON "Sensor"("nodeId", "key");

-- CreateIndex
CREATE INDEX "SensorReading_farmId_observedAt_idx" ON "SensorReading"("farmId", "observedAt");

-- CreateIndex
CREATE INDEX "SensorReading_sensorId_observedAt_idx" ON "SensorReading"("sensorId", "observedAt");

-- CreateIndex
CREATE INDEX "SensorReading_nodeId_observedAt_idx" ON "SensorReading"("nodeId", "observedAt");

-- CreateIndex
CREATE INDEX "Feeder_farmId_idx" ON "Feeder"("farmId");

-- CreateIndex
CREATE INDEX "HayLot_farmId_idx" ON "HayLot"("farmId");

-- CreateIndex
CREATE UNIQUE INDEX "HayLot_farmId_lotCode_key" ON "HayLot"("farmId", "lotCode");

-- CreateIndex
CREATE INDEX "GrainLot_farmId_idx" ON "GrainLot"("farmId");

-- CreateIndex
CREATE UNIQUE INDEX "GrainLot_farmId_lotCode_key" ON "GrainLot"("farmId", "lotCode");

-- CreateIndex
CREATE INDEX "FeedEvent_farmId_idx" ON "FeedEvent"("farmId");

-- CreateIndex
CREATE INDEX "FeedEvent_occurredAt_idx" ON "FeedEvent"("occurredAt");

-- CreateIndex
CREATE INDEX "FeedEvent_mobId_idx" ON "FeedEvent"("mobId");

-- CreateIndex
CREATE INDEX "FeedEvent_paddockId_idx" ON "FeedEvent"("paddockId");

-- CreateIndex
CREATE INDEX "FeedEvent_feederId_idx" ON "FeedEvent"("feederId");

-- CreateIndex
CREATE INDEX "FeedEvent_hayLotId_idx" ON "FeedEvent"("hayLotId");

-- CreateIndex
CREATE INDEX "FeedEvent_grainLotId_idx" ON "FeedEvent"("grainLotId");

-- CreateIndex
CREATE INDEX "Issue_farmId_status_idx" ON "Issue"("farmId", "status");

-- CreateIndex
CREATE INDEX "Issue_farmId_category_idx" ON "Issue"("farmId", "category");

-- CreateIndex
CREATE INDEX "Issue_paddockId_idx" ON "Issue"("paddockId");

-- CreateIndex
CREATE INDEX "Issue_mobId_idx" ON "Issue"("mobId");

-- CreateIndex
CREATE INDEX "Issue_feederId_idx" ON "Issue"("feederId");

-- CreateIndex
CREATE INDEX "Issue_waterAssetId_idx" ON "Issue"("waterAssetId");

-- CreateIndex
CREATE INDEX "Task_farmId_status_idx" ON "Task"("farmId", "status");

-- CreateIndex
CREATE INDEX "Task_assignedToId_idx" ON "Task"("assignedToId");

-- CreateIndex
CREATE INDEX "Contractor_farmId_idx" ON "Contractor"("farmId");

-- CreateIndex
CREATE UNIQUE INDEX "Contractor_farmId_name_key" ON "Contractor"("farmId", "name");

-- CreateIndex
CREATE INDEX "PestSpotting_farmId_spottedAt_idx" ON "PestSpotting"("farmId", "spottedAt");

-- CreateIndex
CREATE INDEX "PestSpotting_paddockId_idx" ON "PestSpotting"("paddockId");

-- CreateIndex
CREATE INDEX "ActivityEvent_farmId_createdAt_idx" ON "ActivityEvent"("farmId", "createdAt");

-- CreateIndex
CREATE INDEX "ActivityEvent_entityType_entityId_idx" ON "ActivityEvent"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "Attachment_farmId_entityType_entityId_idx" ON "Attachment"("farmId", "entityType", "entityId");

-- CreateIndex
CREATE INDEX "SyncChange_farmId_changedAt_idx" ON "SyncChange"("farmId", "changedAt");

-- CreateIndex
CREATE INDEX "SyncChange_entityType_entityId_idx" ON "SyncChange"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "SyncTombstone_farmId_deletedAt_idx" ON "SyncTombstone"("farmId", "deletedAt");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Paddock" ADD CONSTRAINT "Paddock_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mob" ADD CONSTRAINT "Mob_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Mob" ADD CONSTRAINT "Mob_currentPaddockId_fkey" FOREIGN KEY ("currentPaddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobPaddockAllocation" ADD CONSTRAINT "MobPaddockAllocation_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobPaddockAllocation" ADD CONSTRAINT "MobPaddockAllocation_mobId_fkey" FOREIGN KEY ("mobId") REFERENCES "Mob"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobPaddockAllocation" ADD CONSTRAINT "MobPaddockAllocation_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CropSeason" ADD CONSTRAINT "CropSeason_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CropSeason" ADD CONSTRAINT "CropSeason_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaddockPlan" ADD CONSTRAINT "PaddockPlan_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaddockPlan" ADD CONSTRAINT "PaddockPlan_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobMovementPlan" ADD CONSTRAINT "MobMovementPlan_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobMovementPlan" ADD CONSTRAINT "MobMovementPlan_mobId_fkey" FOREIGN KEY ("mobId") REFERENCES "Mob"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobMovementPlan" ADD CONSTRAINT "MobMovementPlan_fromPaddockId_fkey" FOREIGN KEY ("fromPaddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MobMovementPlan" ADD CONSTRAINT "MobMovementPlan_toPaddockId_fkey" FOREIGN KEY ("toPaddockId") REFERENCES "Paddock"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionPlan" ADD CONSTRAINT "ProductionPlan_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionPlan" ADD CONSTRAINT "ProductionPlan_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductionPlan" ADD CONSTRAINT "ProductionPlan_mobId_fkey" FOREIGN KEY ("mobId") REFERENCES "Mob"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaterAsset" ADD CONSTRAINT "WaterAsset_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaterLink" ADD CONSTRAINT "WaterLink_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaterLink" ADD CONSTRAINT "WaterLink_fromAssetId_fkey" FOREIGN KEY ("fromAssetId") REFERENCES "WaterAsset"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaterLink" ADD CONSTRAINT "WaterLink_toAssetId_fkey" FOREIGN KEY ("toAssetId") REFERENCES "WaterAsset"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "LoraNode" ADD CONSTRAINT "LoraNode_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Sensor" ADD CONSTRAINT "Sensor_nodeId_fkey" FOREIGN KEY ("nodeId") REFERENCES "LoraNode"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SensorReading" ADD CONSTRAINT "SensorReading_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SensorReading" ADD CONSTRAINT "SensorReading_nodeId_fkey" FOREIGN KEY ("nodeId") REFERENCES "LoraNode"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SensorReading" ADD CONSTRAINT "SensorReading_sensorId_fkey" FOREIGN KEY ("sensorId") REFERENCES "Sensor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Feeder" ADD CONSTRAINT "Feeder_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HayLot" ADD CONSTRAINT "HayLot_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GrainLot" ADD CONSTRAINT "GrainLot_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedEvent" ADD CONSTRAINT "FeedEvent_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedEvent" ADD CONSTRAINT "FeedEvent_mobId_fkey" FOREIGN KEY ("mobId") REFERENCES "Mob"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedEvent" ADD CONSTRAINT "FeedEvent_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedEvent" ADD CONSTRAINT "FeedEvent_feederId_fkey" FOREIGN KEY ("feederId") REFERENCES "Feeder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedEvent" ADD CONSTRAINT "FeedEvent_hayLotId_fkey" FOREIGN KEY ("hayLotId") REFERENCES "HayLot"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedEvent" ADD CONSTRAINT "FeedEvent_grainLotId_fkey" FOREIGN KEY ("grainLotId") REFERENCES "GrainLot"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Issue" ADD CONSTRAINT "Issue_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Issue" ADD CONSTRAINT "Issue_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Issue" ADD CONSTRAINT "Issue_mobId_fkey" FOREIGN KEY ("mobId") REFERENCES "Mob"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Issue" ADD CONSTRAINT "Issue_feederId_fkey" FOREIGN KEY ("feederId") REFERENCES "Feeder"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Issue" ADD CONSTRAINT "Issue_waterAssetId_fkey" FOREIGN KEY ("waterAssetId") REFERENCES "WaterAsset"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Issue" ADD CONSTRAINT "Issue_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_mobId_fkey" FOREIGN KEY ("mobId") REFERENCES "Mob"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Task" ADD CONSTRAINT "Task_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contractor" ADD CONSTRAINT "Contractor_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PestSpotting" ADD CONSTRAINT "PestSpotting_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PestSpotting" ADD CONSTRAINT "PestSpotting_paddockId_fkey" FOREIGN KEY ("paddockId") REFERENCES "Paddock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityEvent" ADD CONSTRAINT "ActivityEvent_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attachment" ADD CONSTRAINT "Attachment_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SyncChange" ADD CONSTRAINT "SyncChange_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SyncTombstone" ADD CONSTRAINT "SyncTombstone_farmId_fkey" FOREIGN KEY ("farmId") REFERENCES "Farm"("id") ON DELETE CASCADE ON UPDATE CASCADE;

